<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">FormaLux</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">Jelenlegi kiemelt termékeink</h2>
      <div class="container">
        <div class="row">
          @for (product of productList; track $index) {
            <div class="col-lg-4">
              <app-product-card [product]="product" />
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
