<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">FormaLux</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">Jelenlegi kedvezményes termékeink</h2>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <app-product-card />
          </div>
          <div class="col-lg-4">
            <app-product-card />
          </div>
          <div class="col-lg-4">
            <app-product-card />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
