<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-between align-items-center">

        <button routerLink="/homePage">
            <span class="material-symbols-outlined">chair</span>
        </button>

      <div>
        <button (click)="userIconNavigation()">
          <span class="material-symbols-outlined">account_circle</span>
        </button>
        <button routerLink="/basket">
          <span class="material-symbols-outlined">shopping_cart</span>
        </button>
      </div>
    </div>
  </div>
</div>
