@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#mainContainer {
  height: 100vh;
}

#secondContainer {
  height: 590px;
  width: 510px;
  background-color: red;
  border-radius: 16px;
}

h2 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 800;
  font-style: normal;
  color: blue;
}

button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: #776B5D;
}

input {
  height: 45px;
}
