<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div id="formContainer" class="py-4">
        <form class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <input type="text" placeholder="Vezetéknév" class="form-control">
            </div>
            <div class="col-lg-6">
              <input type="text" placeholder="Keresztnév" class="form-control">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-12">
              <input type="text" placeholder="E-mail" class="form-control">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-12">
              <input type="text" placeholder="Telefonszám" class="form-control">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-12">
              <input type="text" placeholder="Jelszó" class="form-control">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-12">
              <input type="text" placeholder="Jelszó újra" class="form-control">
            </div>
          </div>
        </form>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <button>Regisztrációs</button>
          <button>Már van fiókom</button>
        </div>
      </div>
    </div>
  </div>
</div>
