<div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
  <div class="row w-100">
    <div class="col-lg-12 my-2">
      <button routerLink="/orderManager">Rendelések kezelése</button>
    </div>
  </div>

  <div class="row w-100">
    <div class="col-lg-6 my-2">
      <button routerLink="/userManager">Felhasználók kezelése</button>
    </div>
    <div class="col-lg-6 my-2">
      <button routerLink="/productManager">Termékek kezelése</button>
    </div>
  </div>
</div>
