<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div id="navbar">
              <a class="mx-2" routerLink="/orderPage/transportDetails">Szállitási adatok</a>
              <a class="mx-2" routerLink="/orderPage/billingDetails">Számlázási adatok</a>
              <a class="mx-2" routerLink="/orderPage/summary">Összegzés</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <router-outlet />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">

    </div>
  </div>
</div>
