<div class="container-fluid" style="min-height: 100vh;">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-lg-start text-center">Kosár</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7">
      @for (cartProduct of cartService.usersCart.cartProductList; track $index) {
        <app-basket-card [cartProduct]="cartProduct" (changeAmount)="changeAmount($event, $index)" />
      }
    </div>

    <div class="col-lg-5">
      <div class="h-100" id="infoDiv">
        <h1>Rendelés összege</h1>
        <hr>
        <p><span>Résszösszeg: </span> <span> Ft</span></p>
        <p><span>Szállitási költség: </span> <span> Ft</span></p>
        <hr>
        <span><span>Végösszeg: </span> <span> Ft</span></span>
        <div class="w-100 d-flex justify-content-center align-items-center">
          <button routerLink="/orderPage/transportDetails">Tovább a fizetéshez</button>
        </div>
      </div>
    </div>
  </div>
</div>
